.header{
    padding: 60px;
    text-align: center;
}
.todolist{
    position:absolute;
    top:50%;
    left:50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}
header{
    text-align:center;
}